<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
		 تحدث عن مشروعك / منتجك ؟
      </h3>
      <p>
         يستخدم الطوب الحرارى فى تبطين المداخن والافران عالية الحرارة مثل الحديد والصلب ومصانع الاسمنت ومصانع الطوب الحرارى ومصانع الطوب الطفلى وشركات البترول وشركات السكر وفى صناعة المسبوكات وغيرهم من الشركات الاخرى . 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy left">
      <h3>
		  أذكر أهم أهداف مشروعك / منتجك ؟
      </h3>
      <p>
        أهم أهداف هذا المشروع هو إنتاج طوب حراري ذا جودة عالية من حيث توفير العزل الحراري الممتاز، ومقاومة الحريق ومقاومه الضغط المرتفعة
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
		  ماهي الفئة المستهدفة ؟	
      </h3>
      <p>
        شركات البناء والمقاولات 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy left">
      <h3>
		  لنبدء
      </h3>
      <p>
          
      <p>
    </div>
  </div>
</div>
