<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>العزل الحراري</h4>
      <p>المنتج عبارة عن خرسانة خلوية مسامية  معالجة في الافران و تتألف من رمل وماء وهواء. حيث تتشكل الخلايا المملوءة بالهواء أثناء عملية التصنيع. ويشكل هذا الهواء في الواقع ، أفضل عزل حراري يمكن تخيله  في مجال هذه الصناعة مما ينتج عنه إكتساب دلتا بلوك لصفات المادة العازلة.</p>
    </li>
    <li id="section-2">
      <h4>توفير الراحة شتاء وصيفا</h4>
      <p>نظرا للخواص التي يتميز بها هذا المنتج من قدرة العزل الممتازة فإنه قادر جعل المبنى دافئ في الشتاء ولطيفا في الصيف
</p>
    </li>
    <li id="section-3">
      <h4>عزل الصوت</h4>
      <p>
للوفاء بمتطلبات الراحة المرجوة بصفة عامة في المباني، يجب الإهتمام كبير  لعزل الصوت في جميع أجزائها،  ونحن، عامة،  نعني بمصطلح "عزل الصوت" خفض الضوضاء الغير مرغوب  فيها وذلك من خلال التصميم والتنفيذ الجيد للمباني.</p>
    </li>
    <li id="section-4">
      <h4>منتج صديق للبيئة وقوي التحمل</h4>
      <p>إن قوة العزل الكبيرة لهذا المنتج و عدم وجود جسور حرارية يعني أنه سيساهم  مساهمة عالية في توفير إستهلاك الطاقة
 حيث يكون إستهلاك الطاقة خلال عملية التصنيع منخفض جدا مما يترتب عليه أن تكون البيئة أقل تلوثاً</p>
    </li>
  </ul>
</div>
