<p> تم بناء هذا المشروع من قبل &nbsp;&nbsp;<a href="https://lockitron.com" target="blank">Lockitron</a> MIT License &nbsp;&nbsp;</p><p> وتم التعديل عليه من <a href="http://msheikh.me" target="blank">محمد الشيخ  </a></p>
